<style>

body {
	font-family:arial;	
}


.eff {
	
	/* the image size is 126x126, it's adjusted to fit the border as well*/
	width:136px;
	height:206px;

	/* important, allow the children object to move inside its parent obj */
	position:relative;	

	/* important, it hides the moved image */
	overflow:hidden;
	
	/* with the clear class, make it into 3 x 3 layout */
	float:left;
	
	/* IE float bug fix */
	display:inline;
	
	/* styling */
	margin:8px;
	font-size:12px;
}

.eff img {
	display:block;
	width:136px;
	height:206px;
	
	/* styling */
	text-decoration:none;
	border:1px solid #ccc;
	background:#ddd;

	/* important, it allows this obj to move by jquery */
	position:absolute;
	
	/* make sure it appears above the caption */
	z-index:500;
	
	cursor:pointer; cursor:hand;
}


.eff .caption {
	/* should be the same size with the image */
	width:136px;
	height:206px;
	
	/* styling */
	background:#333;
	border:0px solid #ccc;
	color:#f8f8f8;
	
	font-size:16px;	
	
	/* set the position to 0, 0 and appear under the image */
	position:absolute;
	top:0; left:0;
	z-index:0;
}


/* extra styling*/

.eff .caption a.header {
	margin:30px;
	display:block;
	font-size:24px;	
	font-weight:700;
	color:#ff0022;
	/* text-decoration: blink;*/
}

.eff .caption p {
	margin:30px;	
}

.clear {clear:both}

#home3d {
    position:relative;
    top:20px;
    left:200px;
    height:477px;
    width:655px;
    background-image:url('3dPlan.jpg');
    opacity:1;	
}

#highlight-region {
    position: absolute;
    top: 230px;
    left:430px;
    
    height:40px;
    width:50px;
    background-color: transparent;
    opacity: 1;
    filter: alpha(opacity=20);  
    animation-name: blink ;
    animation-duration: .5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ; 
    -webkit-opacity: 1;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: step-end;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;  
    -webkit-animation-play-state: running; 
}
@keyframes blink { 
   50% { background-color: #ff0000; } 
}

#highlight-region:hover {
    
    opacity: 0.8;
    filter: alpha(opacity=20);  
    animation-name: blink ;
    animation-duration: .5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ; 
}
